/* 속성 값과 일치하는 객체 선택 */
div[name=name2] {
    background: orangered;
}

/* 속성 안의 값이 특정 값을 단어(띄어쓰기 단위)로 포함하는 객체 선택 */
div[name~=name1] {
    background: yellow;
}

/* 속성 안의 값이 특정 값과 일치하거나 '-' 문자가 곧바로 해당 값 뒤에 따라붙는 객체 선택 */
div[class|=class] {
    background-color: cyan;
}

/* 속성 값을 가지고 있으며, 접두사로 특정 값이 포함되어 있는 객체 선택 */
div[name^=name]{
    background-color: blue;
}

/* 속성 안의 값이 특정 값으로 끝나는(접미사) 객체 선택*/
div[class$=class] {
    color: white;
}

/* 속성 안의 값이 특정 값을 포함하는 객체 선택 */
div[class*=div] {
    color: red;
}

/* 자손 선택자 */
#test1>h4 {
    background: hotpink;
}

#test1>ul>li {
    background-color: cyan;
}
/* 후손 선택자 */
#test1 ul {
    background-color: yellow;
}
/* 동일 선택자를 다시 사용해도 문제없음 */
#test1 ul {
    color: red;
}

/* 동위 선택자 */
#div-test1{
    background-color: red;
}
/* 해당 요소 바로 다음에 특정 타입의 요소 선택*/
#div-test1 + div {
    background-color: yellow;
}
/* 해당 요소 뒤에 존재하는 특정 타입의 요소 모두 선택*/
#div-test1 ~ div {
    background-color: purple;
}

#active-test, #hover-test {
    width: 150px;
    height: 150px;
    background: orange;
}

/* 반응 선택자 */
#active-test:active {
    background-color: yellow;
    color: white;
}

#hover-test:hover {
    background-color: cyan;
    color: purple;
    cursor: pointer;
    font: 40px bold;
}

/* 상태 선택자 */
input[type=checkbox]:checked {
    width: 500px;
    height: 500px;
}

/**/
#userId:focus, #userPwd:focus {
    background-color: green;
}

option:disabled {
    background-color: red;
    color: white;
}

option:enabled {
    background-color: yellowgreen;
    color: white;
}

input:disabled {
    background-color: blue;
}